@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Overall container */
.Signup {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure minimum height covers the viewport */
    background-color: #f0f0f0;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  /* Left section with content */
  .signup-left {
    margin-right: 350px; /* Adjust margin for spacing */
  }
  
  
  /* Signup form styles */
  .SignupHeading {
    font-size: 2.5em; /* Increase font size for headings */
    margin-bottom: 20px;
    color: #333; /* Change text color */
    font-family: 'Anton', sans-serif;
  }
  
  .SignupPara {
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 1.2em; /* Increase font size for paragraphs */
    color: #555; /* Change text color */
  }
  
  .inputBox {
    margin-bottom: 20px;
  }
  
  .inputBox input {
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 8px; /* Increase border radius for rounded corners */
    width: 100%;
    font-size: 1.1em;
    transition: border-color 0.3s ease; /* Smooth transition for border color */
  }
  
  .inputBox input:focus {
    border-color: #4caf50; /* Change border color on focus */
  }
  
  .SignupBtn {
    padding: 14px 28px; /* Increase padding for button */
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px; /* Increase border radius for rounded corners */
    cursor: pointer;
    font-size: 1.2em; /* Increase font size for button text */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .SignupBtn:hover {
    background-color: #45a049; /* Darken button color on hover */
  }
  
  .AlreadyCustomerBtn {
    background-color: #ccc;
    padding: 14px 28px; /* Increase padding for button */
    margin-left: 10px;
    color: #333;
    border: none;
    border-radius: 8px; /* Increase border radius for rounded corners */
    cursor: pointer;
    font-size: 1.2em; /* Increase font size for button text */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .AlreadyCustomerBtn:hover {
    background-color: #bbb; /* Darken button color on hover */
  }
  .passwordField {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .togglePassword {
    position: absolute;
    
    right: 5px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 8px;
    font-size: 20px;
  }
  